@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

/* General styles */
body {
    font-family: 'Sedan SC', serif;
    background-color: #E8F5E9;
    color: #212121;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #FFFFFF;
    color: #388E3C;
    padding: 10px 20px;
    border-bottom: 2px solid #E8F5E9;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 35px;
    color: #388E3C;   
    letter-spacing: 10px;  
    margin-left: 100px;
    text-decoration: none;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    margin-right: 100px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: #212121;
    font-size: 20px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/*Home Page*/
.image-container {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.cropped-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.text-overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 40px;
}

.text-overlay p:nth-child(2) {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.button-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.promo-button,
.recommendation-button {
    background-color: #388E3C;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.promo-button:hover,
.recommendation-button:hover {
    background-color: #2E7D32;
    /* Darker Green */
}

/* Section styles */
.section {
    padding: 50px 20px;
    text-align: center;
    background-color: #FFFFFF;  
    border-top: 2px solid #E8F5E9;
}

.section h2 {
    font-size: 40px;
    color: #388E3C;
}

.section p {
    font-size: 20px;
    color: #212121;
}

/* Carousel styles */
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: auto;
    filter: brightness(50%)
}

.slider .text-overlay {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-align: center;
}

.slider .text-overlay p:nth-child(2) {
    font-size: 30px;
    font-family: 'Sedan SC', serif;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Image Placeholders */
.image-placeholders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}


/* Hover effect on image*/
.image-placeholders .placeholder:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.placeholder {
    width: 350px;
    height: 300px;
    background-color: gray;
    border-radius: 15px;  
    margin-bottom: 20px;
}

.placeholder-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.description {
    font-size: 20px;
}

/* Footer styles */
.footer {
    background-color: #595757;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.footer-contact {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.footer-bottom {
    padding: 10px;
    background-color: #242424;
}

.footer-bottom span {
    color: #FF0000;
    /* Red heart */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-title {
        margin-left: 20px;
    }

    .navbar-links {
        margin-right: 20px;
        flex-direction: column;
        gap: 10px;
    }

    .image-container {
        height: 500px;
    }

    .text-overlay {
        font-size: 20px;
    }

    .text-overlay p:nth-child(2) {
        font-size: 12px;
    }

    .button-container {
        top: 70%;
    }

    .section {
        padding: 20px 10px;
    }

    .section h2 {
        font-size: 24px;
    }

    .section p {
        font-size: 16px;
    }

    .slider-wrapper {
        max-width: 100%;
    }

    .image-placeholders {
        flex-direction: column;
        gap: 20px;
    }

    .placeholder {
        width: 150px;
        height: 150px;
    }
}

/*products page*/
/* Header styles */
.header {
    background-color: #FFFFFF;
    color: #388E3C;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 2px solid #E8F5E9;
}

.header h2 {
    font-size: 40px;
    font-family: 'Sedan SC', serif;
}

.header p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Product Gallery styles */
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px 20px;
    background-color: #E8F5E9;
}

.product {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    overflow: hidden;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    font-size: 24px;
    font-family: 'Sedan SC', serif;
    color: #388E3C;
    margin: 20px 0 10px 0;
}

.product p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    padding: 0 20px 20px 20px;
}

body.popup-active {
    overflow: hidden;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.popup-content img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.popup-content h3 {
    font-size: 20px;
    margin: 10px 0;
}

.popup-content h4 {
    font-size: 18px;
    font-family: 'Sedan SC', sans-serif;
    text-align: justify;
}

.popup-content p {
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-container-products {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.cropped-image-products {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}


/* Responsive Design */
@media (max-width: 768px) {
    .product-gallery {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 90%;
    }
}

/* Testimonials Page Styles */
.testimonial-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.testimonial-header h1 {
    font-size: 40px;
    color: #388E3C;
    font-family: 'Sedan SC', serif;
}

.testimonial-header p {
    font-size: 20px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px 20px;
    background-color: #E8F5E9;
    margin: 100px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    max-width: 300px;
    text-align: center;
    position: relative;
    height: 400px;
}

.testimonial-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50px;
    border: 5px solid #E8F5E9;
}

.testimonial-text {
    margin-top: 60px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.quote {
    font-size: 16px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5;
    flex-grow: 1;
    /* Biar quote ngambil avalaible space */
}

.name {
    font-size: 18px;
    color: #388E3C;
    font-family: 'Sedan SC', serif;
    margin: 10px 0 0 0;
}

.job-title {
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .testimonial-container {
        flex-direction: column;
        gap: 30px;
    }

    .testimonial {
        max-width: 90%;
    }

    .quote {
        font-size: 14px;
    }

    .name {
        font-size: 16px;
    }

    .job-title {
        font-size: 16px;
    }
}

/* About Us Page Styles */
.about-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.about-header h1 {
    font-size: 40px;
    color: #388E3C;
    font-family: 'Sedan SC', serif;
}

.about-header p {
    font-size: 20px;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}

.about-logo {
    width: 300px;
    height: auto;
}

.about-section {
    flex: 1 1 100%;
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 40px;
}

.goals-section {
    flex: 1 1 45%;
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 1120px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #F1F8E9;
}

.about-logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.about-logo-container .about-section {
    flex: 1 1 45%;
}

.about-logo-container .logo-section {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-placeholder {
    flex: 1 1 45%;
    height: auto;
    width: 1120 px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 1150px;
    height: auto;
    display: block;
    border-radius: 8px;
}

.vision-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.vision-section,
.mission-section {
    flex: 1 1 45%;
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.about-section h1,
.goals-section h2,
.vision-section h2,
.mission-section h2 {
    font-family: 'Sedan SC', serif;
    color: #388E3C;
    margin-bottom: 20px;
}

.about-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212121;
    line-height: 1.6;
}



/* Responsive Design */
@media (max-width: 768px) {
    .about-logo-container {
        flex-direction: column;
        align-items: center;
    }

    .vision-mission {
        flex-direction: column;
    }

    .about-section,
    .logo-section,
    .vision-section,
    .mission-section,
    .about-image-placeholder {
        flex: 1 1 100%;
        max-width: 90%;
    }
}

/*register page*/

.register-container {
    padding: 20px 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 2px solid #E8F5E9;
    margin: 50px auto;
    width: 30%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
}

.register-container h2 {
    font-size: 40px;
    color: #388E3C;
    margin-bottom: 20px;
}

.register-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 20px;
    color: #212121;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Button styles */
.submit-button {
    background-color: #388E3C;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #2E7D32;
}